#nav{
    background: rgba(55, 61, 73, 0.975);
    color: #fff;
    box-shadow: none;
    position: fixed;
    /* position: relative; */
    width: 100%;
    z-index: 1;
}
#nav #left{
    /* border: 2px solid red; */
    position: absolute;
    top: 0.5em;
    left: 0.4em;
    width: 450px;
    display: inline-flex;
    justify-content: flex-start;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    
}
#sub-nav1{
    /* border: 2px solid yellow; */
    display: inline-flex;
    justify-content: space-between;
    width: 400px;
    height: 2.75em;
    line-height: 2.7em;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    list-style: none;
    position: absolute;
    left: 130px;
}
.actions{
    position: absolute;
    left: 570px;
}
#right ,.action{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sub-nav2{
    /* border: 2px solid; */
    width: 190px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 70px;
}
.action a{
    /* border: 2px solid green; */
    text-decoration: none;
    color: #fff;
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}
#button2{
    background-color: #E7746f;   
    font-weight: bold;
    
}